[flake8]
# Ignoring these for now:
# E221: multiple spaces before operator
# E226: missing whitespace around arithmetic operator
# E262: inline comment should start with '# '
# E265: block comment should start with '#'
# E501: line too long
# E704: multiple statements on one line (def)
# W504: line break after binary operator
ignore = E221,E226,E262,E265,E501,E704,W504
