include README.rst
include LICENSE.txt
include setup.cfg
recursive-include doc *

include RELIC-INFO
exclude acstools/version.py

recursive-include relic/ *
prune relic/.git
prune relic/tests

prune build
prune doc/build

global-exclude *.pyc *.o
