name: CI

on:
  push:
  pull_request:
  schedule:
    # Weekly Tuesday 6 AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 6 * * 2'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  initial_checks:
    name: Mandatory checks before CI
    runs-on: ubuntu-latest
    steps:
    - name: Check base branch
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v8.0.0
      if: github.event_name == 'pull_request'
      with:
        script: |
          const allowed_basebranch = 'master';
          const pr = context.payload.pull_request;
          if (pr.base.ref !== allowed_basebranch) {
            core.setFailed(`PR opened against ${pr.base.ref}, not ${allowed_basebranch}`);
          } else {
            core.info(`PR opened correctly against ${allowed_basebranch}`);
          }

  tests:
    needs: initial_checks
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      setenv: |
        jref: "https://ssb.stsci.edu/trds_open/jref"
      submodules: false
      coverage: ''
      envs: |
        - name: Lint with flake8
          linux: codestyle

        # Make sure that packaging will work
        - name: pep517 build
          linux: twine

        - name: Security audit
          linux: bandit

        - name: Check links
          linux: linkcheck

        - name: Python 3.9 with remote data and all dependencies
          linux: py39-test-alldeps
          posargs: --remote-data -v

        - name: Python 3.12 with remote data and dev dependencies
          linux: py312-test-devdeps
          posargs: --remote-data -v
