name: When Opened

on:
  issues:
    types:
    - opened
  pull_request_target:
    types:
    - opened

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - name: Label PR
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b  # v6.0.1
      if: github.event_name == 'pull_request_target' || github.event_name == 'pull_request'
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
    #- name: Special comment
    #  uses: pllim/action-special_pr_comment@5126c189c02418a55448480b28efd1a00af48d7b  # 0.2
    #  with:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
