name: Wheel building

on:
  pull_request:
    # We also want this workflow triggered if the 'Build all wheels'
    # label is added or present when PR is updated
    types:
      - synchronize
      - labeled
  push:
    branches:
      - master
    tags:
      - '*'

permissions:
  contents: read

jobs:
  build_and_publish:
    # This job builds the wheels and publishes them to PyPI for all
    # tags. For PRs with the "Build wheels" label, wheels are built,
    # but are not uploaded to PyPI.

    permissions:
      contents: none

    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@v1

    if: (github.repository == 'spacetelescope/acstools' && (github.event_name == 'push' ||  contains(github.event.pull_request.labels.*.name, 'Build wheels')))
    with:
      env: |
        jref: "https://ssb.stsci.edu/trds_open/jref"

      # We upload to PyPI for all tag pushes
      upload_to_pypi: ${{ startsWith(github.ref, 'refs/tags/') && github.event_name == 'push' }}

      test_extras: test,all
      test_command: pytest -p no:warnings --pyargs acstools --remote-data -v

    secrets:
      pypi_token: ${{ secrets.PYPI_TOKEN }}
